<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>message Form</title>
        <link rel="stylesheet" href="/Css/style.css">

    </head>

    <body>

        <div class="main-div">
            <li class="chat"><a href="/">Home</a></li>
            <li class="addProduct"><a href="/admin/addData">add product</a></li>
            <li class="chat"><a href="/admin/messageForm">chat here</a></li>
            <li class=""><a href="/admin/contact_us">contact US</a></li>

        </div>


        <p class="message">**message**</p>
        <form action="/admin/message" method="POST">
            <label for="message">Type Your message</label>
            <input type="text" name="message" placeholder="type your messgage" id="message">
            <button type="submit">submit</button>
        </form>
    </body>
    <script>


    </script>

</html>