<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Shop</title>
        <link rel="stylesheet" href="/Css/style.css">
    </head>

    <body>
        <div class="main-div">
            <li class="chat"><a href="/">home</a></li>
            <li class="addProduct"><a href="/admin/addData">add product</a></li>
            <li class="chat"><a href="/admin/messageForm">chat here</a></li>
            <li class=""><a href="/admin/contact_us">contact US</a></li>
        </div>

        <form action="/admin/username" method="POST">
            <label for="username">Type Your username</label>
            <input type="text" name="username" placeholder="type your name" id="username">
            <button type="submit">submit</button>
        </form>
    </body>

</html>